
.functions { background:rgba(255,255,0,0.5); }
.grammar { background:rgba(255,0,255,0.5); }
.structures { background:rgba(0,255,255,0.5); }

.layer1 { background:rgba(255,255,0,0.5); }
.layer2 { background:rgba(255,0,255,0.5); }
.layer3 { background:rgba(0,255,255,0.5); }
.layer4 { background:rgba(255,0,0,0.5); }
.layer5 { background:rgba(0,255,0,0.5); }
.layer6 { background:rgba(0,0,255,0.5); }
.layer7 { background:rgba(120,120,0,0.5); }
.layer8 { background:rgba(120,0,120,0.5); }
.layer9 { background:rgba(0,120,120,0.5); }
.layer10  { background:rgba(120,0,0,0.5); }
.layer11  { background:rgba(0,120,0,0.5); }
.layer12  { background:rgba(0,0,120,0.5); }
