.widget-layer-link {
     padding: 0.5em;
     border-radius:3px;
     margin:0 0 1em 0;
     color:black;
     text-decoration:none;
}
.fixed-list {
     position:fixed !important;
     top:80px;
}
#flyout {
     position:fixed;
     top:0px;
     bottom:0px;
     width:35%;
     background:white;
     z-index:9999;
     right:-35%;
     transition:right 1s;
}

#flyout.shown {
     right:0%;
     transition:right 1s;
}
.flyout-close { color:black;text-decoration:none; }

#flyout-head {
     font-size:2.5em;
     text-align:right;
    margin-top:50px;
    margin-right:5%;
}
#flyout-head a {
     text-decoration:none;
}



#flyout-content {
     padding:2%;
     overflow-y:scroll;
     height:85%;
     margin:3%;
}
#flyout-content a { color:black;text-decoration:underline; }
.layer {
     cursor:pointer;
     padding:2px 7px;
     border-radius:20px;
}
 
